@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Editemos todo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* VARIABLES GLOBALES EN CSS */
:root{
     --bg: #f5f5f5f5;     /* backbround o fondo de la pagina*/
     --text: #00ff44;     /* #1a1a1a; color del texto principal*/
     --sidebar-w: 220px;    /*Ancho del menú (sidebar) izquierda*/
     --sidebar-icons: 64px; /* Solo muestra en la tablet el icono*/
     --sidebar-bg: #ffffff;  /* color del fondo el sidebar*/
     --muted: #999;       /* Texto secundario */
     --sidebar-line: rgba(0, 0, 0, 0.15);
}
.main-content{
color: var(--text)

}

body {
    font-family: poppins;
    background-color: var(--bg);
     color: var(--text)     /* color del texto */
}

/* EMPEZAMOS A EDITAR EL SIDEBAR */

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;   /* espacio de esquina a esquina */
    padding: 0 20px;
    height: 56px;
    background-color: var(--sidebar-bg);
    border-bottom: 1px solid var(--sidebar-line);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.topbar .title-business {
    font-size: 1rem; /*16px*/
}

.sidebar {

}